PORT=4000
DATABASE_URL="mongodb+srv://user:password@cluster0.exxx.mongodb.net/aicode_reviewer?retryWrites=true&w=majority"
JWT_ACCESS_SECRET="your_jwt_access_secret_example"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_example"
GEMINI_API_KEY="AIzaSyAoYhozWDUxUTRTx99fdY1vbYBWBG6zv_4"
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"
GITHUB_CALLBACK_URL="http://localhost:4000/api/auth/github/callback"
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_CALLBACK_URL="http://localhost:4000/api/auth/google/callback"
RESEND_API_KEY="your_resend_api_key"
RESEND_FROM_EMAIL="onboarding@resend.dev"
FRONTEND_URL="http://localhost:5173"
